<head>
 <link rel="stylesheet" href="~/css/workout.css" asp-append-version="true" />
</head>

<body>
  <div class="modal" id="loseWeightModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select a Workout</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Choose an exercise</option>
              <option value="1">Walking</option>
              <option value="2">Jumping</option>
              <option value="3">Cycling</option>
              <option value="4">Swimming</option>
              <option value="5">Strength</option>
              <option value="6">Pilates</option>
              <option value="7">Yoga</option>
              <option value="8">Hiking</option>
              <option value="9">Push-Up's</option>
            </select>

            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Choose a day for the workout</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="7">Sunday</option>
            </select>
            <input type="number" class="form-control mb-3" placeholder="Enter reps" style="max-width: 150px;">
            <input type="number" class="form-control mb-3" placeholder="Enter sets" style="max-width: 150px;">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add Workout</button>
        </div>

      </div>
    </div>
  </div>
  
  <div class="modal" id="buildMuscleModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select a Workout</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Choose an exercise</option>
              <option value="1">Build muscle option</option>
              <option value="2">Build muscle option</option>
              <option value="3">Build muscle option</option>
              <option value="4">Build muscle option</option>
              <option value="5">Build muscle option</option>
              <option value="6">Build muscle option</option>
              <option value="7">Build muscle option</option>
              <option value="8">Build muscle option</option>
              <option value="9">Build muscle option</option>
            </select>

            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Choose a day for the workout</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="7">Sunday</option>
            </select>
            <input type="number" class="form-control mb-3" placeholder="Enter reps" style="max-width: 150px;">
            <input type="number" class="form-control mb-3" placeholder="Enter sets" style="max-width: 150px;">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add Workout</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal" id="maintainMuscleModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select a Workout</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Choose an exercise</option>
              <option value="1">Maintain Muscle option</option>
              <option value="2">Maintain Muscle option</option>
              <option value="3">Maintain Muscle option</option>
              <option value="4">Maintain Muscle option</option>
              <option value="5">Maintain Muscle option</option>
              <option value="6">Maintain Muscle option</option>
              <option value="7">Maintain Muscle option</option>
              <option value="8">Maintain Muscle option</option>
              <option value="9">Maintain Muscle option</option>
            </select>

            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Choose a day for the workout</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="7">Sunday</option>
            </select>
            <input type="number" class="form-control mb-3" placeholder="Enter reps" style="max-width: 150px;">
            <input type="number" class="form-control mb-3" placeholder="Enter sets" style="max-width: 150px;">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add Workout</button>
        </div>

      </div>
    </div>
  </div>

  <div class="top-section mb-5">
    <div class="row">
      <div class="col-md-4 col-sm-8">
        <div class="image-container">
          <img src="https://cdn.shopify.com/s/files/1/0291/3743/6771/files/how-to-gain-muscles-image_1.png?v=1713348438" 
               class="round-image" 
               onclick="showFirstModal();">
          <div class="overlay-text">Lose Weight</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="image-container">
          <img src="https://t3.ftcdn.net/jpg/07/00/51/10/360_F_700511019_TQKzdLHpKCHKty4Op7RcqdU4E2Edherd.jpg" 
               class="round-image" 
               onclick="showSecondModal();">
          <div class="overlay-text">Build Muscle</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="image-container">
          <img src="https://manflowyoga.com/wp-content/uploads/2020/05/ManFlowYoga-does-yoga-build-muscle-twist.jpg" 
               class="round-image" 
               onclick="showThirdModal();">
          <div class="overlay-text">&nbsp;Maintain&nbsp;</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

  <h3 class="workout-title mb-3 text-center">Weekly Workout Schedule</h3>

  <div class="row text-center justify-content-between">
    
    <div class="col-md-auto col-sm-12">
        <div class="day-container">&nbsp;Monday&nbsp;</div>
        <div class="workout-box">
          <div class="form-group">
            <label class="mb-3" for="workout-type-monday" >WALKING</label>
            <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
          </div>
          <div class="form-group">
            <label for="sets-monday">Sets:</label>
            <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
          </div>
          <div class="form-group">
            <label for="reps-monday">Reps:</label>
            <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
          </div>
        </div>
        <div class="workout-box">
          <div class="form-group">
            <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
            <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
          </div>
          <div class="form-group">
            <label for="sets-monday">Sets:</label>
            <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
          </div>
          <div class="form-group">
            <label for="reps-monday">Reps:</label>
            <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
          </div>
        </div>

      </div>

   
    <div class="col-md-auto col-sm-12">
      <div class="day-container">&nbsp;Tuesday&nbsp;</div>
      <div class="workout-box">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
    </div>

   
    <div class="col-md-auto col-sm-12">
      <div class="day-container">Wednesday</div>
      <div class="workout-box">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
    </div>

    
    <div class="col-md-auto col-sm-12">
      <div class="day-container">Thursday</div>
      <div class="workout-box">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
    </div>

    
    <div class="col-md-auto col-sm-12">
      <div class="day-container">&nbsp;&nbsp;Friday&nbsp;&nbsp;</div>
    </div>

    
    <div class="col-md-auto col-sm-12">
      <div class="day-container">Saturday</div>
      <div class="workout-box">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
      <div class="workout-box">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
    </div>

    
    <div class="col-md-auto col-sm-12">
      <div class="day-container">&nbsp;Sunday&nbsp;</div>
      <div class="workout-box">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
      <div class="workout-box mb-3">
        <div class="form-group">
          <label class="mb-3" for="workout-type-monday" style="font-weight: bold;">WALKING</label>
          <input type="text" id="workout-type-monday" class="form-control custom-input" placeholder="Weight Lose Exrc." readonly>
        </div>
        <div class="form-group">
          <label for="sets-monday">Sets:</label>
          <input type="number" id="sets-monday" class="form-control custom-input" placeholder="3 Sets" readonly>
        </div>
        <div class="form-group">
          <label for="reps-monday">Reps:</label>
          <input type="number" id="reps-monday" class="form-control custom-input" placeholder="3 Reps" readonly>
        </div>
      </div>
    </div>
  </div>
  </div>


 <div class="Chat-AI mb-3">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Workout Suggestion</label>
    <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input id="userAIQuestion" type="text" class="form-control mb-3" placeholder="Ask for a suggestion" style="max-width: 300px;">
  <button type="button" class="btn btn-primary" onclick="sendChatMessage();">Ask AI</button>
 </div>

  <script>
    var loseWeightModal = new bootstrap.Modal(document.getElementById('loseWeightModal'), {
    keyboard: false 
  });

  var buildMuscleModal = new bootstrap.Modal(document.getElementById('buildMuscleModal'), {
    keyboard: false 
  });

  var maintainMuscleModal = new bootstrap.Modal(document.getElementById('maintainMuscleModal'), {
    keyboard: false 
  });

    function showFirstModal() {
      loseWeightModal.show();
    }

    function showSecondModal() {
      buildMuscleModal.show();
    }

    function showThirdModal() {
      maintainMuscleModal.show();
    }
   

function sendChatMessage() {

  var userInput = document.getElementById('userAIQuestion').value;

    fetch('/api/SubmitBloodwork/ChatConnector', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json' 
        },
        body: JSON.stringify(userInput) 
    })
    .then(response => response.json()) 
    .then(data => {
        if (data.success) {
            console.log("Workout AI:", data.message); 
            document.getElementById("exampleFormControlTextarea1").value = data.message;
        } else {
            console.error("Error:", data.message); 
        }
    })
    .catch(error => {
        console.error("An error occurred:", error); 
    });
}

  </script>

</body>