<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1 " />
        <meta name="robots" content="noindex, nofollow">
        <title>404 Error - jQuery Projects</title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">

    </head>
    <body>

        <section class="jp-404">

            <h1>
                <span> 404 </span>
                Sorry Page Not Found!
            </h1>

            <p>
                The page you're looking for doesn't exist. It may have been removed, its URL has been changed, or you are not logged in.
            </p>

        </section>
    </body>
</html>

<style>
    * {
        margin: 0;
        padding: 0
    }

    body {
        font-family: 'Assistant', sans-serif;
        background: #ED213A; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #93291E, #ED213A); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .jp-404,
    .jp-404 p {
        user-select: none;
        -webkit-user-select: none;
        color: #fff;
    }

        .jp-404 p {
            padding: 10px;
            margin: 20px;
            text-align: center;
            color: rgba(255, 255, 255, 0.85);
        }

        .jp-404 h1 {
            text-align: center;
        }

            .jp-404 h1 span {
                display: block;
                margin: 20px auto;
                font-size: 120px;
            }

    a.back-to-home {
        border: 2px solid #fff;
        -webkit-tap-highlight-color: transparent;
        max-width: 150px;
        text-align: center;
        border-radius: 10px;
        padding: 16px;
        display: block;
        margin: 25px auto;
        color: #fff;
        text-decoration: none;
        transition: .4s;
        font-size: 16px;
        -webkit-transition: .4s;
    }

        a.back-to-home:hover {
            background: #fff;
            color: #ED213A;
            transition: .4s;
            -webkit-transition: .4s;
        }

    .copy-404 {
        margin: 25px;
        text-align: center;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.65);
    }

        .copy-404 a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.65);
        }

            .copy-404 a:hover {
                text-decoration: underline;
                color: #fff;
            }
</style>