@{
    ViewData["Title"] = "Fasting Timer";
}

<section>
    <h2>Fasting Timer</h2>
    <form id="timerForm" class="row gx-3 gy-2 align-items-center">
        <div class="col-sm-3">
            <label for="hours" class="visually-hidden">Hours:</label>
            <input type="number"
                   id="hours"
                   name="Hours"
                   min="0"
                   placeholder="Hours"
                   class="form-control" />
        </div>
        <div class="col-sm-3">
            <label for="minutes" class="visually-hidden">Minutes:</label>
            <input type="number"
                   id="minutes"
                   name="Minutes"
                   min="0"
                   placeholder="Minutes"
                   class="form-control" />
        </div>
        <div class="col-sm-3">
            <label for="seconds" class="visually-hidden">Seconds:</label>
            <input type="number"
                   id="seconds"
                   name="Seconds"
                   min="0"
                   placeholder="Seconds"
                   class="form-control" />
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" id="startTimer">Start Timer</button>
        </div>
    </form>

    <div id="timer" class="mt-3">
        <span>00:00:00</span>
    </div>

    <div class="col-auto mt-3">
        <button type="button" class="btn btn-primary" id="stopTimer">Stop Timer</button>
        <button type="button" class="btn btn-primary" id="resetTimer">Reset Timer</button>
        <button type="button" class="btn btn-primary" id="saveTimer">Save Time</button>
    </div>
</section>

<style>
    #timer {
        font-size: 2em;
        margin-top: 20px;
    }
</style>


    <script>
        var hours = 0;
        var minutes = 0;
        var seconds = 0;
        var interval = null;

        document.getElementById('hours').addEventListener('change', e => {
            hours = +e.target.value;
        });

        document.getElementById('minutes').addEventListener('change', e => {
            minutes = +e.target.value;
        });

        document.getElementById('seconds').addEventListener('change', e => {
            seconds = +e.target.value;
        });

        document.getElementById('startTimer').addEventListener('click', () => {
            var timeInSeconds = (hours * 60 * 60) + (minutes * 60) + seconds;

            var displayTime = () => {
                var displayHours = Math.floor(timeInSeconds / (60 * 60));
                var remainder = timeInSeconds - (displayHours * 60 * 60);
                var displayMinutes = Math.floor(remainder / 60);
                var displaySeconds = remainder - (displayMinutes * 60);
                document.getElementById("timer").innerHTML =
                    (displayHours < 10 ? "0" : "") + displayHours + ":" +
                    (displayMinutes < 10 ? "0" : "") + displayMinutes + ":" +
                    (displaySeconds < 10 ? "0" : "") + displaySeconds;
            };

            //starts the timer
            if (interval) clearInterval(interval);

            interval = setInterval(() => {
                displayTime();
                timeInSeconds -= 1;
                if (timeInSeconds < 0) {
                    clearInterval(interval);
                    document.getElementById("timer").innerHTML = '00:00:00';
                }
            }, 1000);
        });

        //stops the timer
        document.getElementById('stopTimer').addEventListener('click', () => {
            if (interval) clearInterval(interval);
        });
        //resets the timer
        document.getElementById('resetTimer').addEventListener('click', () => {
            if (interval) clearInterval(interval);
            document.getElementById('timer').innerHTML = '00:00:00';
        });
    </script>

