[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    overflow: hidden;
    user-select: none;
}

span{
    font-size: 2rem;
    color: white;
}

#content{
    transform: translate(25%, 100%);
}

#generateMealsButton {
    z-index: 1000;
    position: absolute;
    bottom: -1%;
    left: 23%;
    width: 53%;
    height: 10%;
    background: #1a88bc;
}

#generateWorkoutsButton {
    z-index: 1000;
    position: absolute;
    bottom: -1%;
    left: 23%;
    width: 80px;
    height: 10%;
    margin-left: -100px;
    background: #1a88bc;
    border-radius: 10%;
    margin-bottom: 10px;
}

.meal-suggestion {
    border: 2px solid black;
    background-color: #3498db;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

.workout-suggestion {
    border: 2px solid black;
    background: #1a88bc;
    border-radius: 12px;
    width: 180px;
    width: 225px;

}

.add-meal-button {
    border-radius: 5px;
    align-self: center;

}

.workout-suggestion {
    border: 2px solid black;
    background: #1a88bc;
    border-radius: 12px;
    width: 180px;
    width: 225px;

}

.add-meal-button {
    border: 2px solid white;
    border-radius: 12px;
    width: 50%;
    background-color: #3498db;
}


.add-meal-button:hover {
    border: 2px solid #3498db;
    border-radius: 12px;
    width: 50%;
    background-color: white;
    color: #3498db;
}

.previous-chats {
    background-color: #4a4a55;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 16%;
    border-left: 2px solid;
    border-color: grey;
    overflow: hidden;
    overflow-y: scroll;
}

.chats {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: 10px;
}

.chat-title {
    margin-top: 12px;
    font-weight: 600;
}

#Button {
    position: absolute;
    transition: top 0.5s ease, left 0.5s ease;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    background: #e74c3c;
    border-radius: 50%;
    color: #ececec;
    cursor: pointer;
    z-index: 1;
}

.chat-holder-buttons {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: -169px;
    width: 302px;
    height: 302px;
    font-size: 0;
    transform: scale(0);
    transition: transform 0.8s;
    box-shadow: 0px 0px 10px #999;
    z-index: 1;
    button{
    display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 28px;
    text-decoration: none;
    line-height: 150px;
    text-align: center;
    /*   text-shadow: 2px 2px 4px #666;  */
    color: #fff;
    }
}

.legend{
    margin-top: 5rem;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.bloodwork-chat {
    color: #ff7c7c !important;
}


.diet-chat {
    color: #3498db !important;
}

.workout-chat {
    color: #ffbdff !important;
}

.rec-chat {
    color: #2ecc71 !important;
}

#generateRecsButton {
    z-index: 1000;
    z-index: 1000;
    position: absolute;
    bottom: -1%;
    left: 23%;
    width: 53%;
    height: 10%;
}

button:nth-of-type(odd) {
    margin-right: 2px;
}

button:nth-child(1) {
    margin-bottom: 2px;
    background: #ff7c7c;
}

    button:nth-child(2) {
        background: #2ecc71;
    }

    button:nth-child(3) {
        background: #3498db;
    }

button:nth-child(4) {
    background: #ffbdff;
}

.active {
    transform: scale(1);
}

canvas {
    position: absolute;
}

﻿body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    z-index: 10;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    margin-right: 20px;
    bottom: 5rem;
    position: absolute;
    min-width: -webkit-fill-available;
    align-items: center;
}

.output {
    flex-grow: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 65vh;
}

#chatOutput {
    overflow-x: auto !important;
}

.message {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    max-width: 70%;
}
#saveChatButton{
    position: absolute;
    z-index: 100000;
}
.message button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

        .message button:hover {
            background-color: #45a049;
        }

.user-message {
    border: 2px solid white;
    align-self: flex-start;
}

.bot-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    margin-right: 10px;
}

.input-form {
    display: flex;
    margin-top: 10px;
}

#promptForm, #chatOutput {
    width: 50vw;
}

    .input-form textarea {
        flex-grow: 1;
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        background-color: #333;
        resize: none; /* Prevents manual resizing */
        overflow-x: hidden; /* Hide horizontal overflow */
        overflow-y: auto; /* Automatically add vertical scrollbar when needed */
        line-height: 1.5; /* Improves readability */
        min-height: 50px; /* Minimum height */
        max-height: 150px; /* Maximum height before scrolling */
        white-space: pre-wrap; /* Ensures that text wraps and whitespace is preserved */
        word-wrap: break-word; /* Breaks long words if necessary to fit within the width */
    }


    .input-form button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        color: #333;
        cursor: pointer;
    }


.output::-webkit-scrollbar {
    width: 12px;
}

.output::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}

.output::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

    .output::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.output::-webkit-scrollbar-button {
    display: none;
}

/* Styling for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #333 #222;
}

#buttonText{
    font-size: 1rem;
}
/*Blood work*/
.previous-bloodworks {
    white-space: nowrap;
    left: 20%;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 54vw;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 10000;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
    h4, h5{
        font-size: 15px;
    }
    .bloodwork-item{
        border: 2px solid black;
        border-radius: 12px;
        padding: 1rem;
        background-color: #652e2e;
    }

    .talk-bloodwork-btn{
        border: 2px solid #ffffff;
        border-radius: 5px;
        background-color: red;
    }
}